<section id="hobbies" class="hobbies section">
  <div class="section__container" appReveal>
    <h2 class="section__title">{{ content.title }}</h2>
    <p class="section__subtitle">What drives me outside of work.</p>

    <div class="hobbies__grid">
      @for (hobby of content.items; track hobby.name) {
        <div class="hobbies__card" appReveal>
          <mat-icon class="hobbies__icon">{{ hobby.icon }}</mat-icon>
          <h3 class="hobbies__name">{{ hobby.name }}</h3>
          <p class="hobbies__desc">{{ hobby.description }}</p>
        </div>
      }
    </div>
  </div>
</section>
